<h3 class="center-align">Subscribe to our Newsletters</h3>
<h5 class="center-align">for updates</h5>
<footer class="page-footer blue darken-4 fixed-footer" style="position: absolute; bottom: 0; width:100%;">
  <div class="container">
    <div class="row">
      <div class="col l8 s12 m6">
        <h5 class="grey-text text-lighten-3">About us</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A sapiente nostrum suscipit praesentium temporibus accusantium, eum facilis eveniet iure quidem?</p>
      </div>
      <div class="col l4 s12 m4 offset-m2">
        <h5 class="green-text text-lighten-3">Contact us</h5>
        {{!-- <ul>
          <li>
            <a href="" class="white-text">Link1</a>
          </li>
          <li>
            <a href="" class="white-text">Link2</a>
          </li>
        </ul> --}}
        Room 401, Sardar Patel Institute of Technology, Bhavan's Campus Munshi Nagar, Andheri (West), Mumbai, Maharashtra 400058
      </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-3">
    <div class="container">
      IQAC Copyright &copy; 2018
    </div>
  </div>
</footer>
