{{#if success_msg}}
<div class="chip green lighten-3" style="margin-top: 10px;">
    {{success_msg}}
</div>
{{/if}} {{#if error_msg}}
<div class="chip red lighten-3" style="margin-top: 10px;">
    {{error_msg}}
</div>
{{/if}}