<div class="container" style="padding-top: 50px;">
    <h3 class="center">Help us help you</h3>
    <h5 class="center">Please enter your new password.</h5>
    <form action="/users/forgotPassword/{{secretToken}}" method="post" style="padding-top: 50px;">
        <div class="row">
            <div class="input-field col l6 s6 offset-s3 offset-l3">
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col l6 s6 offset-s3 offset-l3">
                <input id="repassword" type="password" name="repassword">
                <label for="repassword">Retype Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field center-align">
                <button class="btn-large green" type="submit" value="Submit">Submit</button>
            </div>
        </div>
    </form>
</div>